# Python module 11

# Theory

In [402]:
# задаем дефолтную директорию локального репозитория
import os
data_path = os.path.dirname(os.getcwd())
data_path = data_path.replace('\\', '/')
display(data_path)

'c:/Users/Yarik/OneDrive/Рабочий стол/python_modules/Python_module_11'

In [403]:
import pandas as pd

melb_data = pd.read_csv(data_path + '/CSVs/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [404]:
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1, inplace=False) #cols removement


total_rooms = melb_df['Bathroom'] + melb_df['Bedroom'] + melb_df['Rooms']

melb_df['MeanRoomsArea'] = melb_df['BuildingArea']/total_rooms


diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969

In [405]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Date']

year_sold = melb_df['Date'].dt.year

print('Min year sold:', year_sold.min())
print('Max year sold:', year_sold.max())
print('Mode year sold:', year_sold.mode()[0])


melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)*100


delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
# display(delta_days.dt.days)

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df.drop(['YearBuilt'], axis=1, inplace=True)
melb_df.head()

Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,79.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,150.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,126.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455,3,47
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,142.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969,6,2

In [406]:
display(melb_df['Address'].nunique())


def get_street_type(address):
    exclude_lst = ['N', 'S', 'E', 'W']
    
    address_lst = address.split(' ')
    if address_lst[-1] in exclude_lst:
        
        return address_lst[-2]
    else:
        return address_lst[-1]
        
melb_df['Address'] = melb_df['Address'].apply(get_street_type)


display(melb_df['Address'].nunique())


def change_adress(string):
    
    alt_dict = {
                'Av_alt' : ['Avenue', 'Ave'],
                'Cr_alt' : ['Crescent'],
                'Bvd_alt' : ['Boulevard'],
                'Hwy_alt' : ['Highway'], 
                'Pde_alt' : ['Parade']
               }
    
    for i in alt_dict:               
        if string in alt_dict[i]:
            key_lst = i.split('_')
            string = key_lst[0]
       
    return string  


melb_df['Address'] = melb_df['Address'].apply(change_adress)



melb_df['Address'].value_counts()
melb_df['Address'].nunique()

13378

56

50

In [407]:
popular_stypes = melb_df['Address'].value_counts().nlargest(10).index
display(popular_stypes)

melb_df['Address'] = melb_df['Address'].apply(lambda x: x if x in popular_stypes else 'other')
melb_df['Address'].nunique()
melb_df['Address'].value_counts()

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

Address
St       8012
Rd       2825
Ct        612
Dr        447
Av        362
other     355
Gr        311
Pde       226
Pl        169
Cr        161
Cl        100
Name: count, dtype: int64

# Задание 3.3

In [408]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })



def delete_columns(df, col):
    for i in col:
        if i in list(df.columns):
            df.drop([i], axis=1, inplace=True)
        else: return
    return df

    

display(delete_columns( col = ['number', 'cust_id'], df=customer_df))

   cust_age  cust_sale  cust_year_birth  cust_order
0        13       0.00             2008        1400
1        21       0.00             2000       14142
2        19       0.20             2002         900
3        21       0.15             2000        1240
4        60       0.30             1961        8430

In [409]:
# задание 3.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})


countries_df['mean_population'] = countries_df['population'] * 10**6/countries_df['area']
countries_df['mean_population'].mean()

np.float64(84.93080566562001)

In [410]:
# задание 4.3

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

sunday = melb_df['WeekdaySale'] == 6
saturday = melb_df['WeekdaySale'] == 5

weekend_count = melb_df[sunday|saturday] 
display(weekend_count.shape[0])

display(melb_df.head())

12822

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding,WeekdaySale
0,Abbotsford,St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46,5
1,Abbotsford,St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116,3
2,Abbotsford,St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117,5
3,Abbotsford,other,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455,3,47,5
4,Abbotsford,St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969,6,2,5

In [411]:

ufo_data = pd.read_csv(data_path + '/CSVs/UFO.csv', sep=',') # подгружаем UFO-data

# задание 4.4
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
ufo_year = ufo_data['Time'].dt.year.mode()[0]
display(ufo_year)

# задание 4.5

Nevada_ufo = ufo_data[ufo_data['State'] == 'NV'] # выделяем из UFO-data те что относятся к NV
NV_ufo_copy = Nevada_ufo.copy() # создаем копию данных, чтобы программа не возмущалась

NV_ufo_copy['Time'] = NV_ufo_copy['Time'].dt.date
NV_ufo_copy['Difference'] = NV_ufo_copy['Time'].diff()
NV_ufo_copy['Difference'] = NV_ufo_copy['Difference'].dt.days

display(NV_ufo_copy['Difference'].mean())

np.int32(1999)

np.float64(68.92932862190813)

In [412]:
# Задание 5.2
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(lambda x: 1 if x >= 5 else 0)

Weekend_mask = melb_df['Weekend'] == 1
melb_df[Weekend_mask]['Price'].mean()

np.float64(1081198.6406956792)

In [ ]:

# Задание 5.3
top_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_sellers else 'other')

display(melb_df['SellerG'].nunique())

NL_mask = melb_df['SellerG'] == 'Nelson'
other_mask = melb_df['SellerG'] == 'other'
melb_df[NL_mask]['Price'].min() / melb_df[other_mask]['Price'].min()

50

np.float64(1.297709923664122)

# Задание 5.4

In [414]:
arg_1 = 'Опыт работы 8 лет 3 месяца'
arg_2 = 'Опыт работы 3 года 5 месяцев'
arg_3 = 'Опыт работы 1 год 9 месяцев'
arg_4 = 'Опыт работы 3 месяца'
arg_5 = 'Опыт работы 6 лет'

def get_experience(arg):
    count = 0
    arg = arg.split(' ')
    
    if arg[-1].startswith(('л', 'г')):
        count += int(arg[-2])*12   
        
    elif arg[-3].startswith(('л', 'г')):
        count += int(arg[-4])*12 + int(arg[-2])
        
    elif arg[-1].startswith(('мес')):
        count += int(arg[-2])
        
    return count

    
display(get_experience(arg_1))
display(get_experience(arg_2))
display(get_experience(arg_3))
display(get_experience(arg_4))
display(get_experience(arg_5))

99

41

21

3

72