# Python module 11

# Theory

In [22]:
# задаем дефолтную директорию локального репозитория
import os
data_path = os.path.dirname(os.getcwd())
data_path = data_path.replace('\\', '/')
display(data_path)

'C:/Users/Yarik/OneDrive/Рабочий стол/python_modules/Python_module_11'

In [29]:
import pandas as pd

melb_data = pd.read_csv(data_path + '/CSVs/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [84]:
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1, inplace=False) #cols removement


total_rooms = melb_df['Bathroom'] + melb_df['Bedroom'] + melb_df['Rooms']

melb_df['MeanRoomsArea'] = melb_df['BuildingArea']/total_rooms


diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
melb_df.head()

True

# Задание 3.3

In [94]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })



def delete_columns(df, col):
    for i in col:
        if i in list(df.columns):
            df.drop([i], axis=1, inplace=True)
        else: return
    return df

    

display(delete_columns( col = ['number', 'cust_id'], df=customer_df))

   cust_age  cust_sale  cust_year_birth  cust_order
0        13       0.00             2008        1400
1        21       0.00             2000       14142
2        19       0.20             2002         900
3        21       0.15             2000        1240
4        60       0.30             1961        8430

In [101]:
# задание 3.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})


countries_df['mean_population'] = countries_df['population'] * 10**6/countries_df['area']
countries_df['mean_population'].mean()

np.float64(84.93080566562001)